@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
}

#banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), #fff), url('public/background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
p {
    align-content: center ;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.logo {
    color: white;
    font: Bodoni Moda;
    width: 140px;
    left: 5%;
    position: absolute;
    top: 3%;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    list-style:  none;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li button{
    background: transparent;
    outline: none;
    color:white;
    font-size: 15px;
    text-decoration: none;
    border: none;
}
.signout{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    height: 30px;
    width: 80%;
    margin: 10px 0px 25px 60px;
    outline: none;
    padding: 0 10px;
    text-align: center;
}
.nav-links ul li::after{
    background: white;
    content: '';
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.container{
    align-items: center;
    display: flex;
    height: 80vh;
    font-family: sans-serif;
    justify-content: center;
    width: 100%;
}
.card{
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    height: 500px;
    perspective: 1000px;
    width: 350px;
}
.inner-box{
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}
.front, .back{
    background-image: linear-gradient(rgba(0,0,0,0.5), #fff), url('public/background.webp');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    backface-visibility: hidden;
    height: 100%;
    padding: 55px;
    position: absolute;
    width: 100%;
}
.back{
    transform: rotateY(180deg);
}
.card h2{
    color: white;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.input-box{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    height: 32px;
    margin: 6px 0;
    outline: none;
    padding: 0 10px;
    text-align: center;
    width: 100%; 
}
::placeholder{
    color: white;
    font-size: 14px;
}
#signin, #signup, .submit-btn {
   backface-visibility: hidden;
   background: transparent;
   border: 1px solid white;
   border-radius: 20px;
   box-sizing: border-box;
   color: blue;
   cursor: pointer;
   font-size: 14px;
   height: 32px;
   margin: 10px 50px 5px 60px;
   outline: none;
   padding: 0 10px;
   width: 50%;
}
#signin:hover, #signup:hover, .submit-btn:hover{
    background-color: white;
    transition: 1s;
}
.btn{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    color: blue;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin: 5px 50px 10px 60px;
    outline: none;
    padding: 0 10px;
    width: 50%;
}
.btn:hover{
    background-color: white;
    transition: 1s;
}
.submit-btn{
    position: relative;
}
#homepage{
    margin-top: 15px;
}
.card a{
    color: blue;
    display: block;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

//---------------Search Bar-----------------------------
.search-bar, .company-bar{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
}
.searchtitle, 
.searchlevel, 
.searchcompany, 
.postCompany, 
.postTitle, 
.postLevel{
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    height: 32px;
    margin: 6px 0;
    outline: none;
    padding: 0 10px;
    text-align: center;
    width: 20%;
}
.searchbtn,
.jobs-destroy-dynamic{
    width:8%;
    background: transparent;
    outline: none;
    color: blue;
    border-radius: 20px;
    height: 32px;
    border: 1px solid white;
    margin: 6px 0;
    padding: 0 10px;
    text-align: center;
}
.searchbtn:hover,
.jobs-destroy-dynamic:hover{
    background-color: lightgray;
    transition: 1s;
}
#post, #update{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

#job-display{
    align-items: center;
    color: White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
