@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import '~bootstrap/scss/bootstrap';
$imagePath :"assets/images";
*{
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(rgba(0,0,0,0.5), #fff), url(#{$imagePath}/background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
p {
    display: flex;
    justify-content: center;
    align-content: center ;
    color: white;
    font-size: 20px;
}
.logo {
    width: 140px;
    position: absolute;
    top: 3%;
    left: 5%;
    color: white;
    font: Bodoni Moda;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:  none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.signout{
    width: 80%;
    background: transparent;
    border: 1px solid white;
    margin: 10px 0px 25px 60px;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: white;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.container{
    width: 100%;
    height: 80vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), #fff),url(#{$imagePath}/background.webp);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: white
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: white;
}
::placeholder{
    color: white;
    font-size: 14px;
}
button{
   width: 50%;
   background: transparent;
   border: 1px solid white;
   margin: 30px 50px 5px 60px;
   height: 32px;
   font-size: 14px;
   border-radius: 20px;
   padding: 0 10px;
   box-sizing: border-box;
   outline: none;
   color: blue;
   cursor: pointer;
}
button:hover{
    background-color: white;
    transition: 1s;
}
.btn{
    width: 50%;
    background: transparent;
    border: 1px solid white;
    margin: 5px 50px 10px 60px;
    height: 32px;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: blue;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    transition: 1s;
}
.submit-btn{
    position: relative;
}
#homepage{
    margin-top: 15px;
}
.card a{
    color: blue;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
